.contact{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap: 20px;
}
iframe{
    
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px 0;
}
form input, textarea{
    padding: 10px 12px;
    border: 1px solid black;
    margin-bottom: 15px;
}
