.p404{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.p404 img{
    width: 290px;
}
.p404 h2{
    color: black;
    font-size: 30px;
    margin: 10px 0;
}
.p404 a{
    font-size: 16px;
    color: rgb(240, 7, 7);
    display: inline-block;
}