<footer>
    <div class="footer-container">
        <div class="footer-box">
            <div class="footer-heading">
                <h2>logo</h2>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam sapiente odit odio. Suscipit, exercitationem harum.</p>
            <a href="#">lorem</a>
            <a href="#">lorem</a>
            <a href="#">lorem</a>
            <a href="#">lorem</a>
        </div>
        <div class="footer-box">
            <div class="footer-heading">
                <h2>logo</h2>
            </div>
            <a href="#">lorem</a>
            <a href="#">lorem</a>
            <a href="#">lorem</a>
            <a href="#">lorem</a>
            <a href="#">lorem</a>
        </div>
        <div class="footer-box">
            <div class="footer-heading">
                <h2>logo</h2>
            </div>
            <a href="#">lorem</a>
            <a href="#">lorem</a>
            <a href="#">lorem</a>
            <a href="#">lorem</a>
            <a href="#">lorem</a>
        </div>
        <div class="footer-box">
            <div class="footer-heading">
                <h2>logo</h2>
            </div>
            <a href="#">lorem</a>
            <a href="#">lorem</a>
            <a href="#">lorem</a>
            <a href="#">lorem</a>
            <a href="#">lorem</a>
        </div>
        
    </div>
</footer>
<p class="copy">&copy;2024, by muhamed</p>
