<footer>
    <div class="footer-container">
        <div class="footer-box">
            <div class="footer-heading">
                <h2>logo</h2>
            </div>
            <p>Découvrez une cuisine rapide et délicieuse avec SenFood. <br>
                Commandez en ligne pour savourer des plats frais et savoureux en un clin d'œil.
            </p>
            <a href="#">lorem</a>
            
        </div>
        <div class="footer-box">
            <div class="footer-heading">
                <h2>categories</h2>
            </div>
            <a href="#">Pizaa</a>
            <a href="#">Tacos</a>
            <a href="#">Hamburger</a>
            
        </div>
        <div class="footer-box">
            <div class="footer-heading">
                <h2>logo</h2>
            </div>
            <a href="#">lorem</a>
            <a href="#">lorem</a>
            <a href="#">lorem</a>
        </div>
        <div class="footer-box">
            <div class="footer-heading">
                <h2>logo</h2>
            </div>
            <a href="#">lorem</a>
            <a href="#">lorem</a>
            <a href="#">lorem</a>
        </div>
        
    </div>
</footer>
<p class="copy">&copy;2024, by muhamed</p>
